# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Large datasets
*.zip
*.rar

# Environment variables
.env